@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.drinkIcon, .mealIcon {
  max-height: 20vh;
}

.recomend-img {
  width: 190px;
}

.login-bg {
  background-image: url('https://user-images.githubusercontent.com/95686401/180848552-590c3cf1-154f-433e-8640-5614717a194f.png');
  background-size: cover;
}
